
.ipynb_checkpoints/aula_2-checkpoint.ipynb
.ipynb_checkpoints/aula_2-checkpoint.R
.DS_Store
.ipynb_checkpoints/aula_2-checkpoint.html
.ipynb_checkpoints/aula_3-checkpoint.ipynb
files/.RData
files/.Rhistory
